<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
        <a class="nav-link" routerLink="/">Anasayfa</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/projects">Projeler</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" style="cursor: pointer">Çıkış Yap</a>
      </li>
    </ul>
  </div>
</nav>
