<app-header></app-header>

<div class="container">
  <section>
    <article *ngFor="let project of projects" class="project row">
      <h3 class="col-xs-10">{{project.name}}</h3>
      <a routerLink="/projects/{{project.id}}/reports" class="btn btn-success col-xs-2">Raporları Görüntüle</a>
    </article>
  </section>
</div>
