<div class="container-fluid">
  <div class="card card-container">
    <form class="form-signin" (ngSubmit)="loginForm(f)" #f="ngForm">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" name="inputEmail" class="form-control" placeholder="Email address" ngModel required autofocus>
      <input type="password" name="inputPassword" class="form-control" placeholder="Password" ngModel required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin">Sign in</button>
    </form>
  </div>
</div>
