<app-header></app-header>
<div class="container">
  <div class="row">
    <h3>{{project?.name}}</h3>
    <div class="panel panel-default" *ngFor="let reports of project?.report">
      <div class="panel-heading">
        <h3 class="panel-title">{{reports.creationDate | date:"MM/dd/yyyy"}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-12">
          <p>Tamamlanma oranı {{reports.projectCompletedRate}} %</p>
          <div class="col-xs-6">
            <h4>Zorluklar</h4>
            <div innerHTML="{{reports.projectIssues}}"></div>
          </div>
          <div class="col-xs-6">
            <h4>İçerik</h4>
            <div innerHTML="{{reports.content}}"></div>
          </div>
        </div>
        <div class="col-xs-12" *ngIf="reports.editable == 1">
          <a routerLink="/projects/{{activatedProjectId}}/reports/{{reports.id}}" class="btn btn-success">Rapor Düzenle</a>
        </div>
      </div>
    </div>
  </div>
</div>
