<app-header></app-header>
<div class="container">
  <div class="row">
    <form class="form-horizontal" (ngSubmit)="reportUpdateCreate(f)" #f="ngForm">
      <div class="form-group">
        <label class="col-sm-4 control-label">Proje Adı</label>
        <div class="col-sm-8">
          <p class="form-control-static">{{project?.name}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Tahmini Tamamlanma Yüzdesi</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" name="projectCompletedRate" id="projectCompletedRate" ngModel />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Projenin Genel Durumu</label>
        <div class="col-sm-8">
          <ckeditor name="content" id="content" ngModel></ckeditor>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Kritik Konular</label>
        <div class="col-sm-8">
          <ckeditor name="projectIssues" id="projectIssues" ngModel></ckeditor>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <button class="btn btn-lg btn-primary btn-block btn-signin">Kaydet</button>
          <p>{{updateMessage}}</p>
        </div>
      </div>
    </form>
  </div>
</div>
